<!-- Transfer Modal -->
<div class="modal fade" id="transfer_modal" tabindex="-1" role="dialog" aria-labelledby="transfer_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="transfer_modal_title">Transfer</h4>
      </div>
      <form action="/c/transfer/" method="post" role="form">
        <div class="modal-body" id="transfer_modal_body">
          <input type="text" id="from" name="from" value="from">
          <input type="text" id="to" name="to" value="to">
          <div class="form-group">
            <label for="amount">Amount<a/label>
            <input type="text" class="form-control" id="amount" name="amount" placeholder="0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Transfer</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#transfer_modal').on('shown.bs.modal', function () {
  $(this).find("#amount").focus();
})
</script>
