<div class="col-md-3">
  <div class="panel 
  {% if str(entity.type) == 'Planet' %}
    panel-success
  {% elif str(entity.type) == 'Ship' %}
    panel-info
  {% else %}
    panel-default
  {% end %}
  ">
    <div class="panel-heading">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ str(entity.type) }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% if entity.landable %}
            <li><a href="/c/land/?target={{entity.id}}">Land</a></li>
          {% end %}
          {% if entity.dockable %}
            <li><a href="/c/dock/?target={{entity.id}}">Dock</a></li>
          {% end %}
          {% if entity.scanable %}
            <li><a href="/c/scan/?target={{entity.id}}">Scan</a></li>
          {% end %}
          {% if entity.tradeable %}
            <li><a href="/c/trade/?source={{entity.id}}&target={{ship.id}}">Trade</a></li>
          {% end %}
          {% if entity.transferable %}
            <li><a href="#" class="transfer" 
                 data-toggle="modal"
                 data-target="#transfer_modal"
                 data-source={{ str(entity.id) }} 
                 data-destination={{ str(ship.id) }}
                 data-amount={{ str(game.available_holds(ship)) }}>Transfer</a></li>
            <!--<li><a href="/c/transfer/?source={{entity.id}}&target={{ship.id}}">Transfer</a></li>-->
          {% end %}
        </ul>
      </div>
    </div> <!-- panel-heading -->
    <div class="panel-body">
      {{ str(entity) }}
      {% if entity.countable %}
        <span class="badge pull-right">{{ str(entity.count) }}</span>
      {% end %}
    </div>
    <ul class="list-group">
      {% for child in children %}
        {% if child.countable %}
          <li class="list-group-item">
            <span class="badge">{{ str(child.count) }}</span>
            <small>{{ str(child.name) }}</small>
          </li>
        {% end %}
      {% end %}
    </ul>
  </div> <!-- panel -->
</div>
