{% extends "main.html" %}

{% block toolbar %}
  <div class="right">
    {{ user['name'] }} 
    <a href="/logout" id="logout_button">Logout</a>
  </div>
{% end %}

{% block header %}
  <hr>
	<h1>{{ header_text }}</h1>
  <hr>
{% end %}

{% block body %}
  {% if player %}
    <p>Welcome {{player.name}}</p>
    {% if player.sector %}
      <p>You are currently in sector {{str(player.sector)}}</p>
    {% else %}
      <p>When you are ready, you can <a href="/add/home">establish your home sector</a> and get started!</p>
    {% end %}
  {% else %}
    <p>Welcome. You will need to <a href="/add/player">create a player</a> before proceeding.</p>
  {% end %}
{% end %}

{% block footer %}
		<p>{{ footer_text }}<br><a href='https://github.com/ChodeGames/chodewars'>source</a></p>
{% end %} 
