{% extends "main.html" %}

{% block body %}
  {% module Template('sector.html', sector=sector, player=player, ship=ship, game=game) %}
  <div class="row">
    <div class="col-md-12 text-center">
      Adjacent Sectors
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group">
        {% for available_sector in warps %}
          <!-- TODO: /c/move/sector needs to be escaped, dashes won't work -->
          <a type="button" class="btn btn-default" href="/c/move/?sector={{available_sector.id}}">{{ str(available_sector) }}</a>
        {% end %}
      </div>
    </div>

  -->
  {% end %}

  {% block body %}
    {% if render_location.type == "Sector" %}
      {% module Template('sector.html', sector=render_location, player=player, ship=ship, game=game) %}
    {% elif render_location.type == "Planet" %}
      {% module Template('planet.html', planet=render_location, player=player, ship=ship, game=game) %}
    {% end %}
  {% end %}

  {% block footer %}
      <!-- TODO: Move to about page
      <small class="text-center footer">{{ footer_text }}<br><a href='https://github.com/ChodeGames/chodewars'>source</a></small>
      -->
  {% end %}
</div>
